{% extends "base.html" %}

{% block content %}

<h2>Your Characters</h2>

{% if characters %}
<ul>
    {% for character in characters %}
    <li>

        <h3><a href='/characters/{{ character.id }}'>{{ character.name }}</a></h3>
        {% if character.pending_name %}
        <i>(Name "{{ character.pending_name }}" pending approval by Mythrans)</i>
        {% endif %}
    <p><a class="" href="/download_charxml?id={{ character.id }}">Download XML</a></p>
    </p>

    {% endfor %}
    </li>
</ul>

{% else %}

<p>You don't have any characters yet!</p>

{% endif %}

{% endblock %}

{% block scripts %}
<!-- -->
{% endblock %}
